/*UI FEAT*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: all 0.2s ease;
}

/*ROOTS*/
:root {
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 64px;
    --spacing-xl: 96px;

    /*NOVA PALETA*/
    --preto: #0d0d0d;
    --marrom: #2b1d17;
    --vinho: #4b1e1e;
    --dourado: #c6a96b;
    --cinza: #1a1a1a;
}

section {
    padding: var(--spacing-lg) 0;
}

html {
    scroll-behavior: smooth;
}

/*FORMT MOBILE*/
@media (max-width: 768px) {

    form {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .titulo_hero {
        font-size: 32px;
    }

    .hero {
        padding: 40px 0;
    }
}

/*ESTILO BODY*/
body{
    font-family:"Arial", sans-serif;
    font-size:16px;
    line-height:1.6;
    background:#111;
    color:white;
    letter-spacing:0.3px;
}

/*PADRAO TAGS*/
h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 500;
}

p {
    font-size: 16px;
    opacity: 0.85;
}

a{
    text-decoration:none;
}

/*PADRAO CONTAINER*/
.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
}


/*ESTILO DO SITE*/

/*ESTILO HERO*/
.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 20px;

    background: url("img/hero.jpg") center/cover no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(13,13,13,0.9),
        rgba(43,29,23,0.7)
    );
}

.tradicao {
    color: var(--dourado);
}

.moderno {
    color: var(--vinho);
}

.hero_frases {
    position: relative;
    z-index: 1;
    max-width: 700px;
}

.titulo_hero {
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.hero_frase_1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero_frase_2 {
    opacity: 0.8;
}

/*ESTILO FORM*/
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

/*ESTILO BUTTON*/
form button {
    grid-column: span 2;
    background: var(--vinho);
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: var(--dourado);
    color: black;
    transform: scale(1.02);
}

/*ESTILO INPUT SELECT*/
input, select {
    padding: 12px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #111;
    color: white;
}

/*ESTILO NAV*/
nav {
    background: rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 10;
}

nav a:hover {
    color: var(--dourado);
}

nav a:hover {
    opacity: 1;
    color: #25D366;
}

/*ESTILO SERVICO*/
.servicos_lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 60px 0;
    justify-items: center;
}

.item {
    background: var(--cinza);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}

.item:hover {
    transform: translateY(-5px);
    border-color: var(--dourado);
}
